<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="orders.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let order of orders">
    <mat-expansion-panel-header> {{ "Order ID: " + order.id }} </mat-expansion-panel-header>
    <h3><strong>Order Date: </strong>{{order.orderDate}}</h3>
    <h3>Customer Details</h3>
    <div><strong>Id: </strong>{{order.customer.id}}</div>
    <div><strong>Name: </strong>{{order.customer.name}}</div>
    <div><strong>Email: </strong>{{order.customer.email}}</div>
    <div><strong>Phone Number: </strong>{{order.customer.phoneNum}}</div>
    <div><strong>Address: </strong>{{order.customer.address}}</div>

    <h3>Ordered Products</h3>
    <table mat-table [dataSource]="order.orderedProducts" class="mat-elevation-z8" *ngIf="!isLoading && userIsAuthenticated && orders.length != 0">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let item"> {{item.product.name}} </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let item"> {{item.quantity}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mmat-body-1" *ngIf="orders.length == 0 && !isLoading">
  No orders added yet!
</p>
