<mat-toolbar color="primary">
  <span>
    <a routerLink="/">Warehouse Management</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <button *ngIf="userIsAuthenticated" mat-button [matMenuTriggerFor]="parts" >Parts</button>
    <mat-menu #parts="matMenu">
      <button mat-menu-item>
        <a mat-button class="submenu" routerLink="/parts">
          List
        </a>
      </button>
      <button mat-menu-item>
        <a mat-button class="submenu" routerLink="/parts/create" routerLinkActive="mat-accent">
          Add
        </a>
      </button>
    </mat-menu>

    <button *ngIf="userIsAuthenticated" mat-button [matMenuTriggerFor]="products">Products</button>
    <mat-menu #products="matMenu">
      <button mat-menu-item>
        <a mat-button class="submenu" routerLink="/products">
          List
        </a>
      </button>
      <button mat-menu-item>
        <a mat-button class="submenu" routerLink="/products/create" routerLinkActive="mat-accent">
          Add
        </a>
      </button>
    </mat-menu>

    <button *ngIf="userIsAuthenticated" mat-button [matMenuTriggerFor]="orders">Orders</button>
    <mat-menu #orders="matMenu">
      <button mat-menu-item>
        <a mat-button class="submenu" routerLink="/orders">
          List
        </a>
      </button>
      <button mat-menu-item>
        <a mat-button class="submenu" routerLink="/orders/create" routerLinkActive="mat-accent">
          Add
        </a>
      </button>
    </mat-menu>

    <button *ngIf="userIsAuthenticated" mat-button [matMenuTriggerFor]="customers">Customers</button>
    <mat-menu #customers="matMenu">
      <button mat-menu-item>
        <a mat-button class="submenu" routerLink="/customers">
          List
        </a>
      </button>
      <button mat-menu-item>
        <a mat-button class="submenu" routerLink="/customers/create" routerLinkActive="mat-accent">
          Add
        </a>
      </button>
    </mat-menu>




    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent"
        >Signup</a
      >
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
